
.skip {
    position: absolute;
    left:-10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }
/* Used W3 Schools for Skip Navigation */
.topnav {
    overflow: hidden;
    background-color: #00274C;
}
.topnav a{
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.navcolor{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00274C;
}
ul {
    list-style-type: disc;
    text-align: center;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
li a:hover {
    background-color: yellow;
    color: black;
}
/*Googled above in W3 Schools*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
/*Googled above in W3 Schools*/


body {
    background-color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: black;
    padding: 25px;
}
h1 {
    text-align: center;
    font-size: 30px;
    border: 3px solid black;
    border-style: dashed;
}
h2 {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}
h3 {
    text-align: center;
    text-decoration: underline;
}
h4 {
    text-align: center;
    text-decoration: underline;
}
ol {
    text-align: center;
}
p {
    text-align: center;
}
figcaption {
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}
.image-1first {
   width: 100%;
   height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.image-2second {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.image-3third {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
}
/* I resized these in Photoshop, which  I Googled how to do */
.tutoringimage1 {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.tutoringimage2 {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.tutoringimage3 {
    width: 100%;
    height: 100%;
    grid-column: 3/4;
    grid-row: 1/2;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: white;
    color: black;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* Googled above in W3 Schools (footer)*/
/* All images above are either copyright free or available on the UMich website(s) */
@media screen and (min-width: 800px) {
      nav a {
        text-decoration: none;
        border-radius: 5px;
        padding: 10px;
        display: block;
      }
      nav ul {
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }
    /* edited code from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Typical_use_cases_of_flexbox */
    h1 {
        padding: 25px;
    }
    h2 {
        padding: 10px;
        text-align: left;
    }
    h3 {
        text-align: left;
    }
    h4 {
        text-align: left;
    }
    ul {
        text-align: left;
    }
    .center {
        float: right;
        margin-right: 20px;
        padding: 20px;
    }
    }
    p {
        margin-right: 20px;
        text-align: left;
    }
    .error {
        text-align: center;
    }
    .pcenter {
        text-align: center;
    }